extends layout

block content
  h1= title
  a(href="/new")
    button= 'Add message'
  ul.messages-list
    each message in messages
      li
        span.user #{message.user}
        span.added (#{message.added})
        p #{message.text}
        
        
